<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eurecat Plants - {% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        sans: ['Torus', 'sans-serif'],
                    },
                },
            },
        }
    </script>
    {% block custom_js %}
    {% endblock %}
</head>
<body class="bg-gray-100 font-sans flex flex-col h-screen">

    <!-- Header -->
    <header class="bg-blue-500 p-4 text-white flex justify-center items-center">
            <h1 class="text-3xl flex items-center justify-center">
            <img src="{{url_for('static', filename='img/vibrani.png')}}" alt="Image Alt Text" class="mr-2 h-8 w-8"> <!-- Adjust the image URL and size as needed -->
            Vibrani Dashboard 
        </h1>

    </header>


    <!-- Main Content -->
    <div class="flex flex-1">

        <!-- Sidebar -->
        <aside class="bg-gray-800 text-white w-2/12 p-4 text-center">
            <ul>
                <li id="Dashboard" class="mb-4 bg-gray-800 p-4 hover:bg-blue-500/50 rounded-lg"><a href="{{url_for('index')}}" class="text-lg hover:text-blue-300">Dashboard</a></li>
                <li id="Data Table" class="mb-4 bg-gray-800 p-4 hover:bg-blue-500/50 rounded-lg"><a href="{{url_for('tables')}}" class="text-lg hover:text-blue-300">Data Table</a></li>
                <li id="Graphs" class="mb-4 bg-gray-800 p-4 hover:bg-blue-500/50 rounded-lg"><a href="{{url_for('graph')}}" class="text-lg hover:text-blue-300">Graphs</a></li>
            </ul>
        </aside>

        <!-- Content Area -->
        <main class="flex-1 p-6 bg-gray-200 overflow-y-auto">
            {% block content %}
            {% endblock %}
        </main>
    </div>

    <!-- Footer -->
    <footer class="bg-blue-500 p-2 text-white">
        <p class="text-center">&copy; 2023 Vibrani</p>
    </footer>

    <script>
        var classlist = document.getElementById(document.title.split('-')[1].trim()).classList;
        classlist.remove('bg-gray-800');
        classlist.add('bg-emerald-500/50');
    </script>

</body>
</html>
