{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block custom_js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/Chart.bundle.min.js"></script>

{% endblock %}
{% block content %}
    <div class="bg-emerald-200/40 p-4 mb-4 text-black">
        The data will be automatically updated in... <span id="countdown"></span>
    </div>

    <!-- Quick Statistics -->
    <div class="relative py-4">
        <div class="absolute inset-0 flex items-center">
            <div class="w-full border-b border-gray-300"></div>
        </div>
        <div class="relative flex justify-center">
            <span class="bg-white px-4 text-2xl text-black">Last Values</span>
        </div>
    </div>

    <div class="flex flex-row mb-8" hx-trigger="load, every 10s" hx-get="/partial/last" hx-swap="innerHTML">
    </div>

    <div class="relative py-4">
        <div class="absolute inset-0 flex items-center">
            <div class="w-full border-b border-gray-300"></div>
        </div>
        <div class="relative flex justify-center">
            <span class="bg-white px-4 text-2xl text-black">Forecast</span>
        </div>
    </div>
    <div class="flex flex-row mb-8" hx-trigger="load" hx-get="/partial/forecast" hx-swap="innerHTML">
        <div role="status" class="flex items-center text-center justify-center">
            <svg aria-hidden="true" class="w-24 h-24 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
            </svg>
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="relative py-4">
        <div class="absolute inset-0 flex items-center">
            <div class="w-full border-b border-gray-300"></div>
        </div>
        <div class="relative flex justify-center">
            <span class="bg-white px-4 text-2xl text-black">Actions</span>
        </div>
    </div>

    <div class="bg-gray-200/20 p-4 mb-4 text-cyan-500">
        You can manually trigger the water pump by selecting a device
        and then by clicking on the button below.
    </div>
    <div class="bg-gray-200/20 p-4 mb-4 mt-4 text-cyan-500">
        You can change the humidity sensor configuration by selecting the 
        one which will be recorded, from air to soil to all.
    </div>
    <div class="grid grid-cols-4 gap-4">
        <!-- Start -->
        <div class="bg-white p-8 rounded shadow text-center">
            <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-emerald-500 md:text-5xl lg:text-6xl dark:text-white">Tomato</h1>
            <div class="p-4 text-black font-bold text-center">Water pump</div>
            <div class="grid grid-cols-4 gap-4">
                <!-- Select -->
                <select class="col-span-3 p-2 border border-gray-300 rounded" hx-get="/partial/devices_select" hx-trigger="load" hx-swap="innerHTML">
                </select>

                <!-- Button -->
                <button 
                    hx-post="/partial/pump"
                    hx-trigger="click"
                    hx-swap="innerHTML"
                    hx-target="#notification"
                    class="col-span-1 bg-blue-500 text-white p-2 rounded">PUMP IT!</button>
            </div>

            <div class="p-4 text-black font-bold text-center">Humidity Sensor</div>
            <div class="grid grid-cols-3" hx-get="/partial/humidity-toggle/tomatoe" hx-trigger="load" id="humidity-tomatoe-toggle">
            </div>
        </div>
        <!-- End -->
        <!-- Start -->
        <div class="bg-white p-8 rounded shadow text-center">
            <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-emerald-500 md:text-5xl lg:text-6xl dark:text-white">Potato</h1>
            <div class="p-4 text-black font-bold text-center">Water pump</div>
            <div class="grid grid-cols-4 gap-4">
                <!-- Select -->
                <select class="col-span-3 p-2 border border-gray-300 rounded" hx-get="/partial/devices_select" hx-trigger="load" hx-swap="innerHTML">
                </select>

                <!-- Button -->
                <button 
                    hx-post="/partial/pump"
                    hx-trigger="click"
                    hx-swap="innerHTML"
                    hx-target="#notification"
                    class="col-span-1 bg-blue-500 text-white p-2 rounded">PUMP IT!</button>
            </div>

            <div class="p-4 text-black font-bold text-center">Humidity Sensor</div>
            <div class="grid grid-cols-3" hx-get="/partial/humidity-toggle/potatoe" hx-trigger="load" id="humidity-potatoe-toggle">
            </div>
        </div>
        <!-- End -->
        <!-- Start -->
        <div class="bg-white p-8 rounded shadow text-center">
            <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-emerald-500 md:text-5xl lg:text-6xl dark:text-white">Onion</h1>
            <div class="p-4 text-black font-bold text-center">Water pump</div>
            <div class="grid grid-cols-4 gap-4">
                <!-- Select -->
                <select class="col-span-3 p-2 border border-gray-300 rounded" hx-get="/partial/devices_select" hx-trigger="load" hx-swap="innerHTML">
                </select>

                <!-- Button -->
                <button 
                    hx-post="/partial/pump"
                    hx-trigger="click"
                    hx-swap="innerHTML"
                    hx-target="#notification"
                    class="col-span-1 bg-blue-500 text-white p-2 rounded">PUMP IT!</button>
            </div>

            <div class="p-4 text-black font-bold text-center">Humidity Sensor</div>
            <div class="grid grid-cols-3" hx-get="/partial/humidity-toggle/onion" hx-trigger="load" id="humidity-onion-toggle">
            </div>
        </div>
        <!-- End -->
        <!-- Start -->
        <div class="bg-white p-8 rounded shadow text-center">
            <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-emerald-500 md:text-5xl lg:text-6xl dark:text-white">Nuts</h1>
            <div class="p-4 text-black font-bold text-center">Water pump</div>
            <div class="grid grid-cols-4 gap-4">
                <!-- Select -->
                <select class="col-span-3 p-2 border border-gray-300 rounded" hx-get="/partial/devices_select" hx-trigger="load" hx-swap="innerHTML">
                </select>

                <!-- Button -->
                <button 
                    hx-post="/partial/pump"
                    hx-trigger="click"
                    hx-swap="innerHTML"
                    hx-target="#notification"
                    class="col-span-1 bg-blue-500 text-white p-2 rounded">PUMP IT!</button>
            </div>

            <div class="p-4 text-black font-bold text-center">Humidity Sensor</div>
            <div class="grid grid-cols-3" hx-get="/partial/humidity-toggle/nuts" hx-trigger="load" id="humidity-nuts-toggle">
            </div>
        </div>
        <!-- End -->
    </div>

    <div class="relative py-4">
        <div class="absolute inset-0 flex items-center">
            <div class="w-full border-b border-gray-300"></div>
        </div>
        <div class="relative flex justify-center">
            <span class="bg-white px-4 text-2xl text-black">Last Records</span>
        </div>
    </div>

    <!-- Main Content -->
    <div class="bg-white p-8 rounded shadow" hx-trigger="load, every 10s" hx-get="/partial/last_records" hx-swap="innerHTML">
    </div>
    <div id="notification" hx-ext="remove-me">
    </div>



    <script>
        let counter = 10;
        function updateCountdown() {
            document.getElementById('countdown').innerText = counter;
        }

        function resetCountdown() {
            counter = 10;
            updateCountdown();
        }

        setInterval(function () {
            counter--;
            updateCountdown();

            if (counter === 0) {
                resetCountdown();
            }
        }, 1000);
    </script>
{% endblock %}
